* {
    margin: 0;
    padding: 0;
    }
    
#base {
        font-family: 'Montserrat Alternates', sans-serif;
        background-color: #f0f0f0;
}

header {
    padding: 1rem;
    background-color: #6c25be
}

.logo { 
    font-weight: 700;
    padding: 2rem;
    color: #FFFFFF;
    text-decoration: none;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 1rem;
}

.list > li > a{
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    } 
}

.operation-box {
    background-image: url("./Assets/Background-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
}

.subtitle-box {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.operations {
    background-color: #6c25be;
    text-align: center;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.operations h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.operationBttn-1 {
    background-color: #FFFFFF;
    color: #6c25be;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 0.5rem;
    width: 9rem;
}

.operationBttn-2 {
    background-color: #FFFFFF;
    color: #6c25be;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.5rem;
    width: 9rem;
} 

footer ul {
    background-color: #6c25be;
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right: 28rem;
}
footer ul li {
    font-size: 1rem;
    color: #FFFFFF;
    list-style: none;
    padding: 0.5rem;
    text-align: left;
}