* {
  margin: 0;
  padding: 0;
}

#base {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #f0f0f0;
}

header {
  padding: 1rem;
  background-color: #6c25be;
}

.logo {
  font-weight: 700;
  padding: 2rem;
  color: #FFFFFF;
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-top: 0.5rem;
}
.list > li {
  padding: 0.5rem;
}
.list > li:hover {
  background-color: #5e5e5e;
  border: #5e5e5e;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: 1s;
}
.list > li > a {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}
.section-background {
  background-image: url("./Assets/Background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bck-color {
  background-color: #6c25be;
}

.operation-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.subtitle-box {
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
}

.operations {
  background-color: #6c25be;
  text-align: center;
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.operations h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.operationBttn-1 {
  background-color: #FFFFFF;
  color: #6c25be;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  width: 9rem;
}

.operationBttn-2 {
  background-color: #FFFFFF;
  color: #6c25be;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0.5rem;
  width: 9rem;
}

footer ul {
  background-color: #6c25be;
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
}
footer ul li {
  font-size: 1rem;
  color: #FFFFFF;
  list-style: none;
  padding: 0.5rem;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .map-sample {
    display: none;
  }
}
.subtitlePage {
  color: #6c25be;
  text-align: start;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.form {
  background: #6c25be;
  text-align: center;
  color: #FFFFFF;
  width: 25rem;
  padding: 2rem;
  margin: auto;
  margin-top: 4rem;
  border-radius: 1rem;
}

.formTitle {
  margin-bottom: 1rem;
}

.formLine {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 0.7rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1rem;
}

.buttonSelect {
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 0.7rem;
  color: #5e5e5e;
  font-size: 1rem;
}

.check {
  margin-bottom: 1rem;
}

/* formulario de contacto end */
/* Servicios Style start */
.servicios {
  color: #6c25be;
  margin-left: 1rem;
}

.serviciosSub-p {
  color: #5e5e5e;
  padding: 2rem;
}

/* Servicios Style end */
.img-alpha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-content: space-between;
  margin-bottom: 6rem;
}

.img-beta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: space-between;
  margin-bottom: 6rem;
}

.flex-alpha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-content: flex-end;
  margin-right: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}

.flex-beta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
  margin-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}

.alpha-text, .beta-text {
  text-align: justify;
  color: #5e5e5e;
}

.subtitlePage-beta {
  color: #6c25be;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.pictures {
  margin-left: 5rem;
  max-width: 100%;
}/*# sourceMappingURL=Styles.css.map */